@import './variables.scss';
@import './helpers.scss';

body {
    margin: 0;
    overflow: hidden;
    background-color: $yellow;
    font-family: $sans1;
}

div#Wrapper {
    // Wrapper.expanded fills screen
    // Otherwise, appears in "phone view"

    &.expanded {
        @include nosides();
        position: fixed;

        width: 98%;
        height: 98%;

        margin: auto;
    }
    &:not(.expanded) {
        @include nosides();
        position: fixed;
        
        margin: auto;

        width: $phone-height / $phone-ratio;
        height: $phone-height;

        background-image: url(../img/phone.svg);
        background-size: cover;

        > div {
            @include inphone();
        }
    }

    div#Landing,
    div#StoryList {
        @include nosides();
        @include hundop();
        position: absolute; 

        @include flex();
    }

    div#Landing {
        @include flex($justify-content: flex-end);
        flex: 1;

        div#landing-logo-container {
            @include flex;
            flex-grow: 1;
            width: 100%;

            img {
                width: $landing-ghost-width;
            }
        }

        div#landing-name,
        div#landing-enter {
            @include flex;
            width: 100%;
            flex-grow: 0;

            min-height: $landing-button-min-height; 

            color: $white;

            text-transform: uppercase; 
            font-size: $landing-button-size;
            font-weight: $landing-button-weight;
            letter-spacing: $landing-button-spacing;
            cursor: pointer;
        }       

        div#landing-name {
            background-color: $magenta;
        }     

        div#landing-enter {
            background-color: $blue;
        }
    }

    div#StoryList {
        @include flex($justify-content: flex-start);

        background-color: $white;
        background-clip: content-box;

         div#StoryHeader {
                @include flex($flex-direction: row);

                width: 100%;
                height: $story-header-height;

                padding: $story-header-padding;

                justify-content: space-between;

                background-color: $white;
                color: $purple;               

                img {
                    height: 75%;
                    cursor: pointer;
                }

                h2 {
                    font-weight: $story-header-weight;
                    font-size: $story-header-size;
                }
            }

        div#story-section-container {
            @include flex($justify-content: flex-start);
            width: 100%;
            flex: 1;
            overflow-x: hidden;
            overflow-y: scroll;
            flex-wrap: nowrap;

            > div {
                flex-shrink: 0;
                width: 100%;
            }
        }

        div.StorySection {
            @include flex($justify-content: space-between);

            div.StorySectionHeader {
                @include flex($flex-direction: row);
                width: 100%;

                div.border {
                    flex: 1;
                    border-top: $story-section-border;
                }

                h3 {
                    margin-left: $story-section-header-margin;
                    margin-right: $story-section-header-margin;
                    
                    color: $purple;

                    font-weight: $story-section-header-weight;
                    font-size: $story-section-header-size;
                    letter-spacing: $story-section-header-spacing;
                    text-transform: uppercase;
                }
            }

            div.Story {
                // @include flex($flex-direction: row);
                width: 100%;
                height: $story-height;

                cursor: pointer;

                div.story-info-container {
                    @include hundop;
                    @include flex($flex-direction: row);
                }

                div.thumbnail {
                    height: $story-thumb-height;
                    width: $story-thumb-height;
                    margin: $story-thumb-margin;

                    border-radius: 50%;
                    background-size: cover;
                    background-position: center center;
                }

                div.story-info {
                    @include flex($flex-direction: column, $align-items: flex-start);
                    flex: 1;  

                    div.story-title {
                        font-family: $sans1;
                        font-weight: $story-info-title-weight;
                        font-size: $story-info-title-size;
                        letter-spacing: $story-info-spacing;
                        margin: $story-info-title-margin;
                    }
                    div.story-date {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        svg.PieChart {
                            height: $story-piechart-size;
                            width: $story-piechart-size;
                            margin-right: $story-piechart-margin;

                            circle {
                                stroke: $piechart-color;
                                stroke-width: 50%;
                                fill: none;
                            }
                        }
                        span {
                            font-family: $sans1;
                            font-weight: $story-info-date-weight;
                            color: $story-info-date-color;
                        }
                    }
                }
            }
        }

        div.FeaturedStorySection {
            @include flex($align-items: flex-start);
            overflow-x: scroll;
            margin-bottom: $featured-story-section-margin-bottom;
            
            div.featured-story-section-container {
                @include flex($flex-direction: row, $justify-content: flex-start);

                div.FeaturedStory {
                    width: $featured-story-width;
                    height: $featured-story-height;

                    margin: $featured-story-margin;

                    cursor: pointer;

                    &:not(:last-of-type) {
                        margin-right: 0;
                    }

                    img {
                        @include hundop();
                        border-radius: $featured-story-radius;
                    }        
                }
            }
        }

        div#story-section-footer {
            height: $story-section-footer-height;
        } 
    }
}

div#Player,
div#story-list-gradient-container {
    position: absolute;
    @include nosides;
    @include hundop;

    #Wrapper:not(.expanded) & {
        @media screen and (min-width: $breakpoint + 1px) {
            @include inphone;
        }
    }
    
    img,
    video,
    iframe {
        @include hundop;
        @include nosides;
    }
    
}

div#story-list-gradient-container {
    z-index: 10;
    display: flex;
    align-items: flex-end;

    pointer-events: none;

    div#story-list-gradient {
        width: 100%;
        height: $story-section-footer-height;
        
        background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 1));
    }
}

div#Player {
    z-index: 20;
    box-sizing: border-box;

    svg#DoublePieChart {
        position: absolute;

        width: $double-piechart-size;
        height: $double-piechart-size;

        circle.circle {
            stroke: $piechart-color;
            fill: none;
        }
        circle.ring {
            stroke: $double-piechart-ring-color;
            fill: none;
        }
        circle.bg {
            stroke: none;
            fill: $double-piechart-fill-color;
        }
    }
}