// Colors 

$yellow: #fffc00;
$magenta: #e82754;
$blue: #3db1e2;
$purple: #9b55a0;
$black: #000000;
$white: #ffffff;
$phoneblack: #231f1f;  

// Landing page

$landing-ghost-width: 15em;
$landing-ghost-padding: 5em;
$landing-header-margin-top: 1.5em;

$landing-button-size: 2.1em;
$landing-button-weight: 700;
$landing-button-spacing: 0.1em;
$landing-button-min-height: 3.5em;

// Story List

$story-header-height: 4em;
$story-header-weight: 400;
$story-header-size: 2em;
$story-header-padding: 0.25em 1em;

$story-section-border: 1px solid rgba($black, 0.1);
$story-section-header-margin: 0.6em;
$story-section-header-spacing: 0.18em;
$story-section-header-weight: 600;
$story-section-header-size: 1em;

$story-height: 6.4em;
$story-thumb-height: 4.5em;
$story-thumb-margin: ($story-height - $story-thumb-height) / 2 ($story-height - $story-thumb-height) / 1.5;
$story-info-title-weight: 500;
$story-info-title-size: 1.6em;
$story-info-spacing: 0.01em;
$story-info-title-margin: 0 0 0.15em 0;
$story-info-date-weight: 300;
$story-info-date-color: #b5b5b5;
$story-piechart-size: 0.8em;
$story-piechart-margin: 0.5em;

$piechart-color: $story-info-date-color;
$double-piechart-ring-color: white;
$double-piechart-bg-color: rgba(black, 0.5);
$double-piechart-size: 2.5em;

$featured-story-section-margin-bottom: 0.5em;

$featured-story-margin: 0.5em;
$featured-story-ratio: 1.7;
$featured-story-width: 9em;
$featured-story-height: $featured-story-width * $featured-story-ratio;
$featured-story-radius: 0.2em;

$story-section-footer-height: 6em;

$player-info-padding-border: 1.6em solid transparent;
$player-info-title-weight: 500;
$player-info-title-size: 1.6em;
$player-info-text-margin: 0.25em;
$player-info-text-shadow: 0 0 10px black;
$player-info-name-weight: 400;
$player-info-name-size: 1.1em;
$player-info-spacing: $story-info-spacing;
$close-button-size: 3em;
$close-button-stroke-width: 0.05em;
$close-button-shadow-filter: drop-shadow( 0 0 1em black );